	 ul,li,dl,ol,dt,dd {
	 	list-style: none;
	 }
	/*All items*/
	.shopping-t {
		font: 700 16px "microsoft yahei";
		color: #000;
		margin-top: 16px;
	}
	.shopping-b {
		height: 36px;
		border: 1px solid #DDDDDD;
		margin-top: 12px;
		background: #F5F5F5;
	}
	.shopping-b .checkbox {
		display: inline-block;
		width: 50px;
		height: 36px;
		font: 12px/36px "microsoft yahei";
		margin-left: 5px;
	}
	.shopping-b .checkbox input {
		margin-right: 10px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}
	.shopping-b span {
		display: inline-block;
		font: 12px/36px "microsoft yahei";
		margin: 0 300px 0 203px;
	}
	.shopping-b li {
		float: left;
		margin-right: 115px;
		font: 12px/36px "microsoft yahei";
	}
	/*Shopsmart Special */
	.move {
		border-bottom: 1px solid #DDDDDD;
		margin-top: 19px;
		margin-bottom: 34px;
	}
	.move span {
		display: inline-block;
		background: #C71523;
		margin: 0 0 5px 25px;
		padding: 0 4px;
		color: #fff;
	}
	.move p {
		height: 22px;
		font: 12px "microsoft yahei";
		padding-bottom: 10px;
	}
	.move p s {
		color: #C81623;
	}
	/*Cart content */
	article li {
		padding: 12px 0 11px 36px;
		margin-bottom: 13px;
	}
	article img {
		float: left;
		width: 80px;
		height: 80px;
	}
	article .one {
		float: left;
		width: 216px;
		margin: 0 6px 0 11px;  
	}
	article .size {
		width: 172px;
		margin-right: 66px;
	}
	article .size span {
		display: block;
	}
	article .money {
		display: inline-block;
		font: 700 14px "microsoft yahei";
		margin-top: 21px;
	}
	article .add {
		width: 95px;
		margin:  21px 0 0 80px;
		text-align: center;

	}
	article .add .add-l {
		width: 27px;
		line-height: 28px;
		border: 1px solid #ddd;
		border-right: none;
		cursor: pointer;
	}
	article .add .add-m {
		 width: 39px;
		 font: 700 13px/28px "microsoft yahei";
		 border: 1px solid #ddd;
		 text-align: center;
		 border-right: none;
		 cursor: pointer;
	}
	article .add .add-r {
		width: 27px;
		line-height: 28px;
		border: 1px solid #ddd;
		cursor: pointer;
	}
	.add .adda {
		width: 97px;
		height: 30px;
	}
	.add span {
		display: block;
		margin-top: 4px;
		font: 12px "microsoft yahei";
		color: #999;
	}
	article i {
		margin-left: 85px;
		font: 700 14px "microsoft yahei";
		margin-top: 21px;
	}
	/*deleted product */
	.del {
		margin-right: 34px;
		margin-top: 21px;
	}
	.del .del-t {
		font: 700 12px "microsoft yahei";
		padding-left: 28px;
	}
	.del a:hover {
		color: #D91F20;
		text-decoration: underline;
	}
	article .change {
		padding-left: 25px;
	}
	article p {
		margin-left: 29px;
		margin-right: 21px;
	}
	article .resea {
		width: 70px;
		font: 12px/19px "microsoft yahei";
		background: #D91F20;
		text-align: center;
		color: #fff;
		margin-right: 6px;
	}
	article .send {
		height: 20px;
		color: #999;
		padding-left:28px; 
	}
	article .special {
		padding-left: 0 ;
		background: #FDEDEE;
	}
	article .special input {
		margin-right: 17px;
	}
	article .get ul {
		margin-left: 24px;
	}
	article .get li {
		float: left;
		padding: 0 6px;
	}
	article .get li:hover {
		cursor: pointer;
		color: #E50011;
		text-decoration: underline;
	}
	.get .get-r-l span {
		display: block;
		margin-right: 50px;
	}
	.get .get-r-l span s {
		font: 700 14px "microsoft yahei";
		color: #E50011;
	}
	.get .get-r-l .out {
		padding-left: 157px;
	}
	.get .get-r input {
		width: 109px;
		height: 50px;
		background: #E60012;
		color: #fff;
		font: 700 15px/50px "microsoft yahei";
	}
	.delshopping-b {
		padding: 11px 0 9px 16px;
		color: #999999;
		background: #FDEDEE;
	}
	.delshopping-b span {
		margin-right: 350px;
	}
	.delshopping-b i {
		margin-right: 150px;
	}
	.delshopping-b li {
		float: left;
		margin-right: 16px; 
	}
	.delshopping-b li:hover {
		cursor: pointer;
	}
	.like {
		background: #F1F1F1;
		margin-top: 20px;
	}
	.like li {
		float: left;
		padding: 0 19px;
		font: 700 12px/40px "microsoft yahei";
	}
	.like li.spe {
		background: #C71523;
		color: #fff;
	}
	.flyco ul {
		margin: 20px auto 0;
		border: 1px dashed #CACACA;
		width: 986px;
	}
	.flyco li {
		width: 240px;
		height: 305px;
		text-align: center;
		float: left;
		border-right: 1px dashed #CACACA;
	}
	.flyco .flyco-t {
		height: 180px;
		margin-top: 22px;
	}
	.flyco .flyco-b {
		width: 93px;
		border: 1px solid #999;
		border-radius: 5px;
		font: 12px/28px "microsoft yahei";
		background: url("../upload/car.gif") no-repeat 18px 1px;
		padding-left: 30px;
		margin: 14px 0 0 61px;
		cursor: pointer;
	}
	.flyco .speci {
		border-right: none;
	}
	.rows {
		width: 1200px;
		height: 48px;
		position: relative;
		top: -167px;

	}
	.rows .rowsl,
	.rows .rowsr {
		width: 19px;
		font: 19px/48px "consolas";
		text-align: center;
		background: rgb(221,221,221);
		color: #fff;
	}